body{
    background-color: orange;
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    height: 100%;
}
header, footer {
 color: #ffffff;
 background-color: #073DE7;
 width: 100%;
 height: 50px;
}
header{
    display: inline-flex;
    font-family: 'Rambla', sans-serif;
    font-size: 1.0em;
}

#contenedor{
    background-image: url(../images/phy11.jpg);
    display: block;
    height: 800px;
}

footer{
    background-color: orange;
    text-align: center;
}
